<div ng-if="seeProfile">
	<div class="profile-container">
		<div class="col-md-6">
			<!-- patch to /myprofile -->
			<div class="form-container">

					<h2>Links About You</h2>
					<textarea id="linkinput" type="text" ng-model="link" name="text"/></textarea>
					<h2 id="taglist">Tag List</h2>
					<%=image_tag "down.svg", :id=>"downarrow"%>

					<div class="all-tags-container">
						<div class="inline-button scrolly" ng-class="{selected: !checkArray(tag)}" ng-repeat="tag in alltags">
							<!-- each tag item/button -->
							<div class="button" ng-click="addTag(tag, checkArray(tag))" 
								ng-class="{selected: !checkArray(tag)}">
								{{tag}}
							</div>
						</div>
					</div>
					<div class="btn searchButtons hoverButton" ng-click="saveProfile(link, tagArray)">Save</div>

					
			</div>
		</div>

		<div class="col-md-6">
			<div class="profilePreview">
				<h2 id="previewtitle">Preview</h2>
				<div id="userProfile">
					<div class="profileSize"><span class="bold">Name: </span>{{name}}</div>
					<div class="profileSize"><span class="bold">Email: </span>{{email}}</div>
					<div class="profileSize"><span class="bold">Links: </span>
						<div>{{link}}</div>
					</div>
					<div class="profileSize">
						<div><span class="bold">Tags: </span></div>
						<div ng-repeat="tag in tagArray">{{tag}}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<div ng-if="seeFeed" class="container">
	<h2 id="feedTitle">Jobs Feed:</h2>
	<h4 ng-if="counter==0 || feed==null">Start By Adding Tags In Your Profile</h4>
	<div class="feedcontainer">
		<div ng-repeat="job in feed" class="singlejob">
			<div class="positionR" ng-init="slide[$index]=false" ng-class="{slideOffScreen: slide[$index]}">
			<div class="feedlikedislike">
				<div class="inlineB likebutton button" ng-click="like(job.id); slide[$index]=true"><%=image_tag "like.svg", :class=>"like" %></div>
				<div class="inlineB button" ng-click="dislike(job.id); slide[$index]=true"><%=image_tag "dislike.svg", :class=>"dislike dislikePosition" %></div>
			</div>
			<h3 class="jobTitle">{{job.title}}</h3>
			<div>Description: {{job.description}}</div>
			<div>Posted: {{job.created_at}}</div>
			</div>
		</div>
	</div>
</div>


<div ng-if="seeLikedJobs" class="container">
	<h2 id="likedTitle">Active Notifications: </h2>
	<h3 ng-if="liked==[]">-None-</h3>
	<div class="feedcontainer" class="singlejob">
	<div ng-repeat="job in liked">
		<h3 class="jobTitle">{{job.title}}</h3>
		<div>Description: {{job.description}}</div>
		<div>Liked at: {{liked[$index].created_at}}</div>
		<br>
	</div>
	</div>
</div>