<!DOCTYPE html>
<html>
<head>
  <title>Swink</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="login">
	

  <%= yield %>

<!-- 
<p>Hello</p>
<button id="button">BUTTON</button>
 -->

<script>


$(function(){
  $("#show-sign-up").click(function() {
    $("#no-border").css("height","550px");
    $("#no-border").css("margin-top", "50px");
    $("#login-form").hide();
    $("#signup-form").fadeIn();
  });

  $("#show-login").click(function(){
    $("#no-border").css("height", "400px");
    $("#no-border").css("margin-top", "100px");
    $("#login-form").fadeIn();
    $("#signup-form").hide();
  });
});


</script>
</body>
</html>